.post{
  border: 2px solid #711eb6;
  border-radius: 10px;
  padding: 5px 10px;

  input{
    border: none;
    border-bottom: 1px solid#000;
    font-size: 20px;
    display: block;
    width: 100%;
  }

  .header{
    display: flex;
    justify-content: space-between;
    .actions{
      display: flex;
      flex-direction: row-reverse;
      gap: 10px;
      .icon{
        height: 18px;
        width: 18px;
        &:hover{
          cursor: pointer;
        }
      }
    }
  }

}